<!DOCTYPE html>
{% load static %}
{% include 'admin_nav_bar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing Page</title>
    <link rel="stylesheet" href="{% static '/css/edit_user.css' %}" />
    <link rel="stylesheet" href="{% static '/css/display_table.css' %}" />
</head>
<body>
<div class="main_content">
     <form id="signupForm" method="post" action="update/{{user.user_id}}/">
        {% csrf_token %}
        <div class="input-field">
          <label for="signupUsername">Username:</label>
          <input type="text" id="signupUsername" name="signupUsername" value="{{user.username}}" required>
        </div>
        <div class="input-field">
          <label for="signupPassword">Password:</label>
          <input type="text" id="signupPassword" name="signupPassword" value="{{user.password}}" required>
        </div>
        <div class="input-field">
          <label for="mobile">Mobile:</label>
          <input type="tel" id="mobile" name="mobile" value="{{user.phone_number}}" required>
        </div>
        <div class="input-field">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="{{user.email}}" required>
        </div>
         <button type="submit">Update</button>
      </form>
    </div>
</body>
</html>